<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="LocalPackages" value="C:\NuGetPackages" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="DevExpress" value="https://nuget.devexpress.com/LhbqLoFVSAdIVAYehqDjygfZQ2mwkf94aYAh7FlIlytsjDbNtM/api" />
    <add key="DevExpress 21.1 Local" value="C:\Program Files (x86)\DevExpress 21.1\Components\System\Components\Packages" />
  </packageSources>
  <disabledPackageSources>
    <add key="LocalPackages" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="DevExpress 21.1 Local" value="true" />
  </disabledPackageSources>
</configuration>