@page "/"

<div class="cw-480 ch-220">
    <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
        <DxTab Text="Movies"></DxTab>
        <DxTab Text="TV Shows"></DxTab>
    </DxTabs>
    <div class="card dxbs-border-top-0 dxbs-border-radius-top-0">
        <div class="card-body">
            @switch (ActiveTabIndex)
            {
                case 0:
                    <ContentOverview TypeID="1"/>
                    break;
                case 1:
                    <ContentOverview TypeID="2"/>
                    break;
                
            }
        </div>
    </div>
</div>

@code {
    int ActiveTabIndex { get; set; } = 0;
}